body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #011F3F;
    align-items: center;
}
h1{
    color:#FEF2BF;
    font-size: 3rem;
    font-family: 'Press Start 2p',cursive;
    margin: 65px;
}
.box{
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
    margin: 25px;
}
.main-box1{
    display: flex;
    flex-direction: row;
}
.main-box2{
    display: flex;
    flex-direction: row;
}

.green{
    background-color: green;
}
.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.blue{
    background-color: blue;
}

.pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
}
